::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #fff8dccb;
}
::-webkit-scrollbar-thumb {
  background-color: #fff8dccb;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb {
  background-color: #fff8dccb;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #fff8dc;
}
::-webkit-scrollbar-corner {
  display: none;
}
